<div id="canvas-wrapper" style="width: 800px; height: 600px; border: 2px solid #CCC">
	<canvas id="canvas" width="800" height="600">No canvas, sorry.</canvas>
</div>

<div id="nav">
	<div id="save" style="display: none; cursor:pointer" class="nav-item">
		<h2>Save this one!</h2>
	</div>	
</div>